@model Student
@{
    ViewBag.Title = Model.Id > 0 ? Model.Name : "Nuevo registro";
    List<StudentForCourseSuscribed> courses = ViewBag.Courses;
}

<h2 class="page-header">@(Model.Id > 0 ? Model.Name : "Nuevo registro")</h2>

@using (Html.BeginForm("Crud", "Example", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select name="Gender" class="form-control">
                <option @(Enums.Gender.Female == Model.Genre ? "selected" : "") value="@Enums.Gender.Female">Mujer</option>
                <option @(Enums.Gender.Male == Model.Genre ? "selected" : "") value="@Enums.Gender.Male">Hombre</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input class="form-control" type="text" name="Birthday" value="@(Model.Birthday == DateTime.MinValue ? "" : Model.Birthday.ToShortDateString())" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CurrentStatus, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select name="CurrentStatus" class="form-control">
                <option @(Enums.Status.Enable == Model.CurrentStatus ? "selected" : "") value="@Enums.Status.Enable">Activo</option>
                <option @(Enums.Status.Disable == Model.CurrentStatus ? "selected" : "") value="@Enums.Status.Disable">Inactivo</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" type="submit">
                Guardar <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
}


@if (Model.Id > 0)
{
    <h3 class="page-header">Current Courses</h3>

    <ul class="list-group">
        @foreach (var c in courses.OrderBy(x => x.Suscribed))
        {
            <li class="list-group-item">
                @using (Html.BeginForm("AddOrRemoveCourse", "Example", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <input type="hidden" name="CourseId" value="@c.CourseId" />
                    <input type="hidden" name="StudentId" value="@c.StudentId" />

                    <button type="submit" class="pull-right btn btn-primary btn-xs btn-@(c.Suscribed ? "danger" : "success")">
                        @(c.Suscribed ? "Remove" : "Add") course
                    </button>
                    @c.Name
                }
            </li>
        }
    </ul>
}