@model ApplicationUser
@{
    List<ApplicationRole> roles = ViewBag.Roles;
    ViewBag.Title = "Crud";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
    <label>Email</label>
    <input class="form-control" type="text" readonly value="@Model.Email" />
</div>

<hr />

@using (Html.BeginForm("AddRole", "Users", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="UserId" value="@Model.Id" />
        <select class="form-control" name="RoleId">
            @foreach (var r in roles)
            {
                <option value="@r.Id">@r.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-default">Add</button>
}
